<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes 📚</title>
    <link href="css/style.css" rel="stylesheet"/>
</head>
<body>
<section class="grid" id="app">
    <main>
        <section class="inputForm">
            <form id="noteForm" v-on:submit.prevent="addNewItem">
                <h1>MY NOTES 📚</h1>

                <div class="inputArea">
                    <label for="newItemTitle">Title</label>
                    <p>

                        <input
                                class="inputTitle"
                                id="newItemTitle"
                                placeholder="Title..."
                                v-model="newItemTitle">
                    </p>

                    <label for="newItemDesc">Content </label>
                    <p>
                        <textarea
                                class="inputDesc"
                                id="newItemDesc"
                                placeholder="Enter a note..."
                                required
                                v-model="newItemDesc"
                        >
                        </textarea>
                    </p>
                </div>
                <button type="submit">💾</button>
            </form>
        </section>

        <!--     Card with some stats about your notes-->
        <article class="agenda-card stats-card">
            <h3>Fun stuff!</h3>
            <ul>
                <li>
                    Try dark mode ->
                    <button class="btn-toggle-darkmode">💡</button>
                </li>
                <li>Pin 📌 a note to put it up-front</li>
                <li>Remove a note with ❌</li>
            </ul>
            <h3>Statistics: </h3>
            <ul>
                <li>Number of notes: {{ countNumberOfNotes }}</li>
                <li>Wordcount: {{ countWords }}</li>
                <li>Pinned notes: {{ countPinned }}</li>
                <li>'Contact' is mentioned in {{ countTheWordContact }} notes.</li>
            </ul>
        </article>

        <!--    Loop items[], inject data to 'note-item' component-->
        <article
                is="note-item"
                v-bind:content="item.content"
                v-bind:date="item.date"
                v-bind:key="item.id"
                v-bind:pin="item.pinned"
                v-bind:style="{borderTop: item.color}"
                v-bind:title="item.title"

                v-for="(item, index) in sortedItems"
                v-on:pin-item="pin(index)"
                v-on:remove-item="remove(index)">
        </article>

    </main>
</section>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/script.js"></script>
</body>
</html>